<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instructor Details Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>
        body {
            background-color: #f9f9fa
        }

        .padding {
            padding: 3rem !important
        }

        .user-card-full {
            overflow: hidden;
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            border: none;
            margin-bottom: 30px;
        }

        .m-r-0 {
            margin-right: 0px;
        }

        .m-l-0 {
            margin-left: 0px;
        }

        .user-card-full .user-profile {
            border-radius: 5px 0 0 5px;
        }

        .bg-c-lite-green {
            background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
            background: linear-gradient(to right, #ee5a6f, #f29263);
        }

        .user-profile {
            padding: 20px 0;
        }

        .card-block {
            padding: 1.25rem;
        }

        .m-b-25 {
            margin-bottom: 25px;
        }

        .img-radius {
            border-radius: 5px;
        }


        h6 {
            font-size: 14px;
        }

        .card .card-block p {
            line-height: 25px;
        }

        @media only screen and (min-width: 1400px) {
            p {
                font-size: 14px;
            }
        }

        .card-block {
            padding: 1.25rem;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .card .card-block p {
            line-height: 25px;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .text-muted {
            color: #919aa3 !important;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .f-w-600 {
            font-weight: 600;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .user-card-full .social-link li {
            display: inline-block;
        }

        .user-card-full .social-link li a {
            font-size: 20px;
            margin: 0 10px 0 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
            border-radius: 10px;
            -webkit-appearance: none;
        }


    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/instructor/list}">Back</a></li>
        <li class="breadcrumb-item active" aria-current="page">Instructor Details</li>
    </ol>
</nav>

<div class="page-content page-container" id="page-content">
    <div class="container my-5">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img src="https://img.icons8.com/?size=100&id=15263&format=png" class="img-radius"
                                         alt="User-Profile-Image">
                                </div>
                                <h6 class="f-w-600">[[${instructor.firstName}]] [[${instructor.lastName}]]</h6>
                                <p>Instructor</p>
                                <!-- Button trigger modal -->

                                <button type="button" class="btn btn-primary btn-block mb-2" data-bs-toggle="modal"
                                        data-bs-target="#updateModal" data-bs-whatever="@getbootstrap">UPDATE
                                </button>

                                <div class="modal fade" id="updateModal" tabindex="-1"
                                     aria-labelledby="updateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen-md-down">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="updateModalLabel" style="color: black">
                                                    Update Instructor Details</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form th:action="@{/instructor/update-details}"
                                                  th:object="${updatedDetails}"
                                                  method="POST">
                                                <div class="modal-body">

                                                    <div class="tab mt-5">
                                                        <p>
                                                            <input placeholder="First Name"
                                                                   th:value="${instructor.firstName}" name="firstName"
                                                                   id="firstName"></p>
                                                        <p th:if="${#fields.hasErrors('firstName')}"
                                                           th:errors="*{firstName}" class="text-danger"></p>
                                                    </div>

                                                    <div class="tab">
                                                        <p><input placeholder="Last Name"
                                                                  th:value="${instructor.lastName}" name="lastName"
                                                                  id="lastName"></p>
                                                        <p th:if="${#fields.hasErrors('lastName')}"
                                                           th:errors="*{lastName}" class="text-danger"></p>
                                                    </div>
                                                    <div class="tab">
                                                        <p><input hidden placeholder="Email"
                                                                  th:value="${instructor.email}"
                                                                  name="email" id="email"></p>
                                                    </div>
                                                    <div class="tab">
                                                        <p><input placeholder="Youtube Channel"
                                                                  th:value="${instructor.getInstructorDetail() == null ? 'N/A' :  instructor.getInstructorDetail().youtubeChannel}"
                                                                  name="youtubeChannel" id="youtubeChannel"></p>
                                                    </div>

                                                    <div class="tab">
                                                        <p><input placeholder="Hobby"
                                                                  th:value="${instructor.getInstructorDetail() == null ? 'N/A' : instructor.getInstructorDetail().hobby}"
                                                                  name="hobby" id="hobby"></p>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-danger btn-block mb-2" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    DELETE
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="color: black">
                                                Are you sure you want to delete the instructor ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>

                                                <form th:action="@{/delete-instructor/{id}(id=${instructor.getId()})}"
                                                      method="POST">
                                                    <button type="submit" class="btn btn-primary">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-warning btn-block" data-bs-toggle="modal"
                                        data-bs-target="#addCourse">ADD COURSE
                                </button>

                                <form th:action="@{/instructor/add-course/{id}(id=${instructor.getId()})}"
                                      th:object="${course}"
                                      method="POST">
                                    <div class="modal fade" id="addCourse" tabindex="-1"
                                         aria-labelledby="updateModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" style="color: black"
                                                        id="addCourseLabel">
                                                        Add Course</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="mb-3">
                                                            <input th:field="*{courseName}" type="text"
                                                                   class="form-control mb-2"
                                                                   placeholder="Course Title">

                                                            <input th:field="*{description}" type="text"
                                                                   class="form-control"
                                                                   placeholder="Course Description">
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>

                                                    <button type="submit" class="btn btn-primary">Add</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <script>
                                    const addCourse = document.getElementById('addCourse')
                                    if (addCourse) {
                                        addCourse.addEventListener('show.bs.modal', event => {
                                            // Button that triggered the modal
                                            const courseButton = event.relatedTarget
                                            // Extract info from data-bs-* attributes
                                            const courseRecipient = courseButton.getAttribute('data-bs-whatever')
                                            // If necessary, you could initiate an Ajax request here
                                            // and then do the updating in a callback.

                                            // Update the modal's content.
                                            const courseModalBodyInput = addCourse.querySelector('.modal-body input')

                                            courseModalBodyInput.value = courseRecipient
                                        })
                                    }
                                </script>


                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="card-block">


                                <div th:if="${param.updated}" class="alert alert-success" role="alert">
                                    Successfully Updated an Instructor Details
                                </div>

                                <div th:if="${param.updateCourse}" class="alert alert-success" role="alert">
                                    Successfully Updated a Course
                                </div>

                                <div th:if="${param.addCourse}" class="alert alert-success" role="alert">
                                    Successfully Added a Course
                                </div>

                                <div th:if="${param.successDeleteCourse}" class="alert alert-success" role="alert">
                                    Successfully Deleted a Course
                                </div>

                                <div th:if="${param.addReview}" class="alert alert-success" role="alert">
                                    Successfully Added a Review
                                </div>

                                <div th:if="${param.emptyField}" class="alert alert-danger" role="alert">
                                    The field must not be empty
                                </div>

                                <div th:if="${param.deleteOtherDetails}" class="alert alert-success" role="alert">
                                    Successfully deleted other details
                                </div>

                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Personal Details</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">First Name</p>
                                        <h6 th:text="${instructor.firstName}" class="text-muted f-w-400"></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Last Name</p>
                                        <h6 th:text="${instructor.lastName}" class="text-muted f-w-400"></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 th:text="${instructor.email}" class="text-muted f-w-400"></h6>
                                    </div>

                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-5">Other Details <span><a
                                            th:href="@{'/instructor/delete?id=' + ${instructor.getId()}}"
                                            class="text-danger">(Remove)</a></span></h6>


                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Youtube Channel</p>
                                        <h6 th:text="${youtubeChannel}" class="text-muted f-w-400"></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Hobby</p>
                                        <h6 th:text="${hobby}" class="text-muted f-w-400"></h6>
                                    </div>


                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-5">Courses</h6>


                                    <div class="col-sm-6" th:each="courseName : ${instructor.getCourses()}">
                                        <p class="m-b-10 f-w-600">Course</p>
                                        <h6 th:text="${courseName.getTitle()}" class="text-muted f-w-400"></h6>

                                        <li class="list-inline-item">

                                        <button class="btn btn-success btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                th:data-bs-target="'#updateCourse-' + ${courseName.getId()}"
                                                data-bs-whatever="@getbootstrap"
                                                data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fa fa-edit"></i>
                                        </button>

                                        <div class="modal fade" th:id="'updateCourse-' + ${courseName.getId()}"
                                             tabindex="-1"
                                             aria-labelledby="updateModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-fullscreen-md-down">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="deleteModalLabel"
                                                            style="color: black">
                                                            Update Course Name</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <form th:action="@{'/instructor/update-course?instructorId=' + ${instructor.getId()} +
                                                                       '&courseId=' + ${courseName.getId()}}"
                                                          th:object="${updateCourseDto}"
                                                          method="POST">
                                                        <div class="modal-body">

                                                            <div class="tab mt-5">
                                                                <p>
                                                                    <input placeholder="Course Name"
                                                                           th:value="${courseName.title}"
                                                                           name="courseName"
                                                                           id="courseName"
                                                                           class="mb-2">

                                                                    <input placeholder="Course Description"
                                                                           th:value="${courseName.description}"
                                                                           name="description"
                                                                           id="description">
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Update
                                                            </button>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        </li>
                                        <li class="list-inline-item">


                                            <form th:action="@{/delete-course/instructor-id/{instructorId}/course-id/{courseId}(instructorId=${instructor.getId()}, courseId=${courseName.getId()})}"
                                                  method="POST">
                                                <button class="btn btn-danger btn-sm rounded-0" type="submit"
                                                        data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                        class="fa fa-trash"></i></button>
                                            </form>


                                        </li>
                                        <li class="list-inline-item">

                                            <!--                                            Add Review-->


                                            <button class="btn btn-warning btn-sm rounded-0"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="'#addReview-' + ${courseName.getId()}"
                                                    data-bs-whatever="@getbootstrap"
                                                    data-toggle="tooltip" data-placement="top" title="Add Review"><i
                                                    class="fa fa-book"></i>
                                            </button>

                                            <div class="modal fade" th:id="'addReview-' + ${courseName.getId()}"
                                                 tabindex="-1"
                                                 aria-labelledby="updateModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-fullscreen-md-down">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="reviewCourse"
                                                                style="color: black">
                                                                Add a review for [[${courseName.title}]]</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <form th:action="@{'/instructor/add-review?instructorId=' + ${instructor.getId()} +
                                                                       '&courseId=' + ${courseName.getId()}}"
                                                              th:object="${reviewDto}"
                                                              method="POST">
                                                            <div class="modal-body">

                                                                <div class="tab mt-5">
                                                                    <p>
                                                                        <input placeholder="Type your comment"
                                                                               th:field="*{comment}">
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Add
                                                                </button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        <!--                                        end of add review-->


                                        <!--                                        Start of View Reviews-->

                                        <li class="list-inline-item">


                                            <form th:action="@{/view-reviews/course-id/{courseId}(courseId=${courseName.getId()})}"
                                                  method="GET">
                                                <button class="btn btn-primary btn-sm rounded-0" type="submit"
                                                        data-toggle="tooltip" data-placement="top" title="View Reviews"><i
                                                        class="fa fa-eye"></i></button>
                                            </form>

                                        </li>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>
</html>