<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>List of Instructors Page</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background: #eee">


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/instructor}">Instructor</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav" style="">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/instructor}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/instructor/form}">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/instructor/list}">List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main>

    <!--MDB Tables-->
    <div class="container mt-5">

        <div class="card mb-4">
            <div class="card-body">
                <!-- Grid row -->
                <form th:action="@{/instructor/search-instructor}" th:object="${email}" method="POST">
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"
                                 role="alert">
<!--                                Produce an error message based on validation-->
                            </div>

                            <div th:if="${param.undefined}" class="alert alert-danger"
                                 role="alert">
                                Email does not exists
                            </div>

                            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">List of
                                Instructors</h2>
                            <div class="input-group mb-3">

                                <input th:field="*{email}" type="text" class="form-control"
                                       placeholder="Instructor's Email Address"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search
                                </button>


                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                </form>
                <!-- Grid row -->
                <!--Table-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Youtube Channel</th>
                            <th>Hobby</th>
                        </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                        <tr th:each="instructor : ${instructorList}">
                            <th scope="row" th:text="${instructor.id}"></th>
                            <td th:text="${instructor.firstName}"></td>
                            <td th:text="${instructor.lastName}"></td>
                            <td th:text="${instructor.email}"></td>
                            <td th:text="${instructor.youtubeChannel}"></td>
                            <td th:text="${instructor.hobby}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

</main>
</body>
</html>